{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--home {% if page.slideshow_images %}theme-{{ page.slideshow_images.all.0.theme }}{% endif %}
{% endblock %}

{% block content %}
    {% if page.slideshow_images %}
    <ul class="slideshow js-slideshow-fullscreen">  
    {% for item in page.slideshow_images.all %}
        <li data-theme="{{ item.theme }}" id="slideshow-item-{{ item.id }}">
            {% if item.link_page %}
            <a href="{{ item.link_page.url }}">
            {% else %}
            <span>
            {% endif %}
            {% if item.video_hd_url %}
              <video width="100%" loop="" autoplay="" autostart="" playsinline="" muted="" preload="metadata"
              poster="{{ item.image.url }}"
              data-video-hd="{{ item.video_hd_url }}" 
              data-video-sd="{{ item.video_sd_url }}">
                  Your browser doesn't support HTML5 video tag.
                <source src="{{ item.video_hd_url }}" type="video/mp4">
              </video>
            {% else %}
              {% image item.image width-1920 as img %}
              <img data-src="{{ img.url }}" />
            {% endif %}
             {% if item.caption %}
                <span class="slideshow-caption js-pause-on-hover">{{ item.caption|richtext }}</span>
             {% endif %}
            {% if item.link_page %}
            </a>
            {% else %}
            </span>
            {% endif %}
            
        </li>
    {% endfor %}
    </ul>
    <ul class="slideshow-nav js-slideshow-nav js-pause-on-hover">
      {% for item in page.slideshow_images.all %}
      <li class="slideshow-nav-item">
        <button type="button" title="{{ item.caption|striptags }}" data-target="slideshow-item-{{ item.id }}" class="js-slideshow-nav-button">
          <span>{{ item.image }}</span>
          </button>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}
{% block extra_js %}    
    <script>
        $(document).ready(function(){
            var $slideshow = $('.js-slideshow-fullscreen');
            var $firstSlide = $slideshow.find('li:first');
            var $secondSlide = $firstSlide.next();
            var $firstImg = $firstSlide.find('img');
            var $secondImg = $secondSlide.find('img');
            var hasObjectFit = ('objectFit' in document.documentElement.style);

            function loadImage($img) {
                $img.attr('src', $img.data('src'))
                // if the browser does not support object fit, add the image as a background image and add a class to apply proper style
                if (!hasObjectFit) {
                  $img.parent().css('backgroundImage', 'url(' + $img.data('src') + ')').addClass('compat-object-fit');
                }
            }

            function loadNextImage() {
                // load the next unloaded image
                var $nextImgToLoad = $slideshow.find('img:not([src])').first();
                if ($nextImgToLoad.length) {
                  loadImage($nextImgToLoad);
                };
            }

            function loadRemainingImages() {
              var $imgs = $slideshow.find('img:not([src])');
              if ($imgs.length) {
                $imgs.each(function(){
                  loadImage($(this));
                });
              }
            }

            function loadImages(num) {
              $allImgs = $slideshow.find('img:not([src])');
              if (typeof num !== 'undefined') {
                $imgs = $allImgs.length < num ? $allImgs : $slideshow.find('img:not([src])').slice(0,num-1);
              } else {
                $imgs = $allImgs;
              }

              if ($imgs.length) {
                $imgs.each(function(){
                  loadImage($(this));
                });
              }
            }

            loadImages(4);

            // load the first two images in the slideshow
            //$firstImg.attr('src', $firstImg.data('src'));
            //$secondImg.attr('src', $secondImg.data('src'));
            
            // if the browser does not support object fit, add the image as a background image and add a class to apply proper style
            //if (!hasObjectFit) {
            //  $firstImg.parent().css('backgroundImage', 'url(' + $firstImg.data('src') + ')').addClass('compat-object-fit');
            //  $secondImg.parent().css('backgroundImage', 'url(' + $secondImg.data('src') + ')').addClass('compat-object-fit');
            //}
            
            // show the first slide
            $firstSlide.addClass('is-active');
            $('.js-slideshow-nav li:first button').addClass('is-active');


            function nextSlide() {
              loadNextImage();
              // show the next slide
              var $currentSlide = $slideshow.find('li.is-active'); 
              var $nextSlide = $currentSlide.next().length ? $currentSlide.next() : $firstSlide;

              $currentSlide.removeClass('is-active');
              $nextSlide.addClass('is-active');
              $('.js-slideshow-nav-button').removeClass('is-active');
              $('.js-slideshow-nav-button[data-target=' + $nextSlide.attr('id') + ']').addClass('is-active');

              $('body').attr('class', 'body--home');
              $('body').addClass('theme-' + $nextSlide.data('theme'));
            }

            var timer = setInterval(nextSlide, 6000);


            $('.js-slideshow-nav-button').click(function() {
                $(this).addClass('is-active');
                $(this).parent().siblings().find('button').removeClass('is-active');
                $('.js-slideshow-fullscreen li.is-active').removeClass('is-active');
                $('#' + $(this).data('target')).addClass('is-active');
                $('body').attr('class', 'body--home');
                $('body').addClass('theme-' + $('#' + $(this).data('target')).data('theme'));
            });

            $('.js-pause-on-hover').hover(function(e){
                clearInterval(timer);
                loadRemainingImages();
            }, function(e){
                timer = setInterval(nextSlide, 6000);
            });
        });
    </script>
{% endblock %}
