{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}body--fabrication{% endblock %}

{% block banner %} 

{% endblock %}
{% block content %}
<main class="main--fabrication">
    <section class="fabrication-title-section">
        <h1 class="article-title fabrication-title">
                <span>{{ page.title }}</span> 
                <!--<a href="#content">
                    <i class="fa fa-angle-down"></i></a>-->
        </h1>
    </section>
    <section class="section-imagelist">
        <div class="imagelist">
            {% for material in materials %}
                <div class="imagelist-item">
                    <a class="imagelist-link" href="{{ material.specific.url }}">
                        <div class="imagelist-content">
                            <h3 class="imagelist-title">{{ material.title }}</h3>
                        </div>
                        {% image material.list_image fill-800x800 as img %}
                        <img src="{{ img.url }}" alt="{{ material.title }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <div>
        {{ page.fabrication_content }}
    </div>
</main>

{% endblock %}