{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}body--fabrication{% endblock %}

{% block banner %} 

{% endblock %}
{% block content %}
<main class="main--fabrication">
    <section class="section-video">
        <div class="video-banner">
            <video width="100%" loop="" autoplay="" autostart="" playsinline="" muted="" preload="metadata"
            poster="{{ page.video_poster.url }}"
            data-video-hd="{{ page.video_hd_url }}" 
            data-video-sd="{{ page.video_sd_url }}">
                Your browser doesn't support HTML5 video tag.
              <source src="{{ page.video_hd_url }}" type="video/mp4">
            </video>
        </div>
    </section>
    <section>
        <h1 class="article-title fabrication-title"><span>{{ page.title }}</span></h1>
    </section>
    <section id="content">
        <div class="imagelist">
            {% for material in materials %}
                <div class="imagelist-item">
                    <a class="imagelist-link" href="{{ material.specific.url }}">
                        <div class="imagelist-content">
                            <h3 class="imagelist-title">{{ material.title }}</h3>
                        </div>
                        {% image material.image fill-800x800 as img %}
                        <img src="{{ img.url }}" alt="{{ material.title }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <div>
        {{ page.fabrication_content }}
    </div>
</main>

{% endblock %}