{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--profile{% endblock %}

{% block content %}
<main class="profile">
    <div class="profile-image">
        {% image page.image fill-1600x608 %}
    </div>
    <section class="content-section profile-about">
        <aside><h1 class="section-title">{{ page.title }}</h1></aside>
        <article>
            <h2 class="article-title">{{ page.about_title }}</h2>
            {{ page.about_text|richtext }}
        </article>
    </section>
    <section class="mosaic profile-people">
        {% for employee in employees %}
        {% image employee.image fill-800x800 as img %}
            <div class="mosaic-tile profile-employee js-modal-anchor ">
                <div class="tile-image" style="background-image: url({{ img.url }})">
                </div>
                 <div class="modal js-modal">
                     <div class="modal-glance profile-employee-glance js-modal-detail-trigger">
                        <h3 class="modal-title">{{ employee.title }}</h3>
                        <h4 class="modal-subtitle">{{ employee.job_title }}</h4>
                        <button type="button" class="modal-open"><span>More</span></button>
                     </div>
                     <div class="modal-detail profile-employee-detail">
                        <header>
                            <div>
                                <h3 class="modal-title">{{ employee.title }}</h3>
                                <h4 class="modal-subtitle">{{ employee.job_title }}</h4>
                            </div>
                            <button type="button" class="modal-close js-modal-close"><span>Close</span></button>
                        </header>
                        <article>
                        {{ employee.bio|richtext }}
                        </article>
                     </div>
                </div>
                <div class="modal-overlay"></div>
            </div>
        {% endfor %}
    </section>
    <section class="profile-colleagues">
        <aside><h1 class="section-title">{{ page.title }}</h1></aside>
        <article>
            <div class="profile-collaborators">
                <h2 class="article-title">Collaborators</h2>
                <ul>
                    {% for item in page.collaborators.all %}
                    <li>{{ item.collaborator.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="profile-clients">
                <h2 class="article-title">Clients</h2>
                <ul>
                    {% for item in page.clients.all %}
                    <li>{{ item.client.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>
        <aside>
            {% if awards %}
            <div class="profile-awards">
                <h2 class="article-title">Awards</h2>
                {% for award in awards %}
                    {% ifchanged award.date|date:"Y" %}
                        <h3>{{ award.date|date:"Y" }}</h3>
                    {% endifchanged %}
                    <div class="press-award">
                    {% if award.url %}
                        <a href="{{ award.url }}" target="_blank">
                    {% endif %}
                    {{ award.name }}
                    {% if award.url %}
                        </a>
                    {% endif %}
                    <br />
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </aside>
    </section>
</main>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('body').on('click', '.js-modal-detail-trigger', function(){
                $('.js-modal').removeClass('is-expanded');
                $(this).closest('.js-modal').addClass('is-expanded');
            });

            $('body').on('click', '.js-modal-close', function(){
                $(this).closest('.js-modal').removeClass('is-expanded');
            });
        });
    </script>
    <script>
        var $mosaic = $('.mosaic');
        var placeholders = {};
        var placeholder_html = '<section class="profile-employee mosaic-tile is-placeholder"></section>';
        placeholders.createPlaceholders = function () {
            // remove existing placeholders
            $('.mosaic-tile.is-placeholder').remove();

            // get screen size and set placeholder count appropriately
            if (breakpoint.value == 'large') {
              placeholders.value = {{ placeholder_count_large }};
            }
            else if (breakpoint.value == 'xlarge' || breakpoint.value == 'max') {
              placeholders.value = {{ placeholder_count_xlarge }};
            } 
            else {
                placeholders.value = 0;
            }

            // create placeholders
            for (i = 0; i < placeholders.value; i++) { 
                $mosaic.append(placeholder_html);
            }
        };

        $(window).resize(function () {
            placeholders.createPlaceholders();
        });
        
        $(document).ready(function() {
            placeholders.createPlaceholders();
        });
    </script>
{% endblock %}

