{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--profile{% endblock %}

{% block content %}
<main class="profile">
    <div class="profile-image">
        {% image page.image fill-1600x608 %}
    </div>
    <section class="content-section profile-about">
        <aside><h1 class="section-title">{{ page.title }}</h1></aside>
        <article>
            <h2 class="article-title">{{ page.about_title }}</h2>
            {{ page.about_text|richtext }}
        </article>
    </section>
    <section class="profile-employees">
        {% for employee in employees %}
        {% image employee.image fill-736x800 as img %}
            <div class="profile-employee js-modal-anchor">
                <div class="profile-employee-image js-modal-detail-trigger">
                    <div class="project-image">
                        <img src="{{ img.url }}" />
                    </div>
                </div>
                <div class="profile-employee-glance">
                    <h3 class="profile-employee-title">{{ employee.title }}</h3>
                    <h4 class="profile-employee-subtitle">{{ employee.job_title }}</h4>
                 </div>
                 <div class="modal js-modal">
                     <div class="modal-detail profile-employee-detail">
                        <header>
                            <div>
                                <h3 class="modal-title">{{ employee.title }}</h3>
                                <h4 class="modal-subtitle">{{ employee.job_title }}</h4>
                            </div>
                            <button type="button" class="modal-close js-modal-close"><span>Close</span></button>
                        </header>
                        <article>
                        {{ employee.bio|richtext }}
                        </article>
                     </div>
                </div>
                <div class="modal-overlay"></div>
            </div>
        {% endfor %}
    </section>
    <section class="profile-colleagues">
        <aside><h1 class="section-title">{{ page.title }}</h1></aside>
        <article>
            <div class="profile-collaborators">
                <h2 class="article-title">Collaborators</h2>
                <ul>
                    {% for item in page.collaborators.all %}
                    <li>{{ item.collaborator.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="profile-clients">
                <h2 class="article-title">Clients</h2>
                <ul>
                    {% for item in page.clients.all %}
                    <li>{{ item.client.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>
        <aside>
            {% if awards %}
            <div class="profile-awards">
                <h2 class="article-title">Awards</h2>
                {% for award in awards %}
                    {% ifchanged award.date|date:"Y" %}
                        <h3>{{ award.date|date:"Y" }}</h3>
                    {% endifchanged %}
                    <div class="press-award">
                    {% if award.url %}
                        <a href="{{ award.url }}" target="_blank">
                    {% endif %}
                    {{ award.name }}
                    {% if award.url %}
                        </a>
                    {% endif %}
                    <br />
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </aside>
    </section>
</main>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('body').on('click', '.js-modal-detail-trigger', function(){
                $('.js-modal').removeClass('is-expanded');
                $(this).siblings('.js-modal').addClass('is-expanded');
            });

            $('body').on('click', '.js-modal-close', function(){
                $(this).closest('.js-modal').removeClass('is-expanded');
            });
        });
    </script>
{% endblock %}

