{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block body_class %}body--press{% endblock %}

{% block content %}
<main class="press">
    <section>
        <aside>
            <h1 class="section-title">{{ page.title }}</h1>
            {% if page.newsitems %}
            <a class="link-back" href="{{ page.url }}">Back</a>
            {% endif %}
        </aside>
        <article>
            <h2 class="article-title">
                Press Articles 
            {% if page.month or page.year %}for {% if page.month %} {{ page.month }}{% endif %}{% if page.year %} {{ page.year }}{% endif %}{% endif %}</h2>
            {% if page.newsitems %}
            <div class="news-grid">
                {% for item in page.newsitems %}
                <section class="news-tile {% if item.specific.image == None %}no-image{% endif %}">
                    {% if item.specific.image %}
                    {% image item.specific.image fill-400x500 as img %}
                    <img src="{{ img.url }}" />
                    {% else %}
                    {% image page.placeholder_image fill-400x500 as img %}
                    <img src="{{ img.url }}" />
                    {% endif %}
                    <div class="modal">
                         <a class="modal-glance" href="{% if item.specific.body %}{{ item.specific.url }}{% else %}{{ item.external_link }}{% endif %}"
                         {% if not item.specific.body %} target="_blank" {% endif %}>
                            <h4 class="news-tile-date">{{ item.specific.date|date:"F d, Y" }}</h4>
                            {% if item.specific.publication_name %}
                            <h3 class="news-tile-publication">{{ item.specific.publication_name }}</h3>
                            {% endif %}
                            <h3 class="news-tile-title">{{ item.specific.title }}</h3>
                            <button type="button" class="modal-open"><span>More</span></button>
                         </a>
                    </div>
                </section>
                {% endfor %}
            </div>
            {% elif page.featured_news.all %}
            <div class="news-grid">
                {% for item in page.featured_news.all %}
                <section class="news-tile {% if item.specific.image == None %}no-image{% endif %}">
                    {% if item.news_item.specific.image %}
                    {% image item.news_item.specific.image fill-400x500 as img %}
                    <img src="{{ img.url }}" />
                    {% else %}
                    {% image page.placeholder_image fill-400x500 as img %}
                    <img src="{{ img.url }}" />
                    {% endif %}
                    <div class="modal">
                         <a class="modal-glance" href="{% if item.news_item.specific.body %}{{ item.news_item.specific.url }}{% else %}{{ item.news_item.external_link }}{% endif %}"
                         {% if not item.news_item.specific.body %} target="_blank" {% endif %}>
                            <h4 class="news-tile-date">{{ item.news_item.specific.date|date:"F d, Y" }}</h4>
                            {% if item.news_item.specific.publication_name %}
                            <h3 class="news-tile-publication">{{ item.news_item.specific.publication_name }}</h3>
                            {% endif %}
                            <h3 class="news-tile-title">{{ item.news_item.specific.title }}</h3>
                            <button type="button" class="modal-open"><span>More</span></button>
                         </a>
                    </div>
                </section>
                {% endfor %}
            </div>
            {% elif recent_newsitems %}
            <div class="news-grid">
                {% for item in recent_newsitems %}
                <section class="news-tile {% if item.specific.image == None %}no-image{% endif %}">
                    {% if item.specific.image %}
                    {% image item.specific.image fill-400x500 as img %}
                    <img src="{{ img.url }}" />
                    {% else %}
                    {% image page.placeholder_image fill-400x500 as img %}
                    <img src="{{ img.url }}" />
                    {% endif %}
                    <div class="modal">
                         <a class="modal-glance" href="{% if item.specific.body %}{{ item.specific.url }}{% else %}{{ item.external_link }}{% endif %}"
                         {% if not item.specific.body %} target="_blank" {% endif %}>
                            <h4 class="news-tile-date">{{ item.specific.date|date:"F d, Y" }}</h4>
                            {% if item.specific.publication_name %}
                            <h3 class="news-tile-publication">{{ item.specific.publication_name }}</h3>
                            {% endif %}
                            <h3 class="news-tile-title">{{ item.specific.title }}</h3>
                            <button type="button" class="modal-open"><span>More</span></button>
                         </a>
                    </div>
                </section>
                {% endfor %}
            </div>
            {% endif %}
        </article>
        <aside>
            <h2 class="article-title">News Archive</h2>
            {% if recent_newsitems %}
            <div class="news-recent">
                <h3>Recent News</h3>
                <ul class="link-list">
                {% for item in recent_newsitems %}
                    <li><a href="{% if item.specific.body %}{{ item.specific.url }}{% else %}{{ item.external_link }}{% endif %}" {% if not item.specific.body %} target="_blank" {% endif %}>{{ item.specific.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if archive_dates %}
            <div class="news-monthly">
                <h3>By Month</h3>
                <ul class="link-list">
                {% for date in archive_dates %}
                    <li><a href="{% routablepageurl page "archive" date|date:"Y" date|date:"m"%}">{{ date|date:"F Y" }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </aside>
    </section>
    
</main>
{% endblock %}
