{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--press{% endblock %}

{% block content %}
<main class="press">
    <section>
        <aside>
            <h1 class="section-title">Press</h1>
            <a class="link-back" href="{{ page.get_parent.url }}">Back</a>
        </aside>
        <article>
            <h2 class="article-title">Publications</h2>
            <div class="publication">
                <h2>{{ page.title }}</h2>
                {{ page.body }}
            </div>
        </article>
        <aside>
            {% if page.related_links.all %}
            <h4 class="section-title">Related Links</h4>
            <ul class="link-list">
            {% for link in page.related_links.all %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
        </aside>
    </section>
</main>
{% endblock %}
