body {
    margin: 0 auto;
    padding: 0 $spacing-base;
    max-width: $bp-horiz-max;


    > header {
        @include display(flex);
        @include justify-content(center);
        background: transparent;
        width: 100%;
        padding: $spacing-base 0;

        @media (min-width: $bp-horiz-medium) {
            padding: $spacing-base*2 0;
        }
    } 


    > main {
        > section {
            width: 100%;
            margin-bottom: $spacing-base;

            &:first-child:not(.section-image):not(.section-video) {
                padding-top: $spacing-base*2;
            }

            > aside {
                padding-top: $spacing-base;
            }
        }

        @media (min-width: $bp-horiz-large) {
            > section {
                //@include display(flex);
                @include clearfix;
                margin-bottom: $spacing-base*2;

                > article {
                    width: 75%;
                    padding: 0;
                    margin: 0 0 0 0;
                    float: left;

                    &:first-child {
                        margin: 0 0 0 0;
                    }

                    &:last-child {
                        margin: 0 0 0 0;
                    }

                    &:only-child {
                        width: auto;
                        margin: 0 auto;
                    }
                }


                > aside, > header {
                    width: 25%;
                    margin: 0 0 0 0;
                    float: left;
                    padding-top: 0;

                    &:first-child {
                        width: 75%;
                    }

                    &:last-child {
                        padding-left: 3rem;
                    }
                }
            }
        }

        @media (min-width: $bp-horiz-xlarge) {
            > section {
                @include display(flex);
                margin-bottom: $spacing-base*2;

                > article {
                    float: none;
                    width: 50%;
                    padding: 0;

                    &:first-child {
                        margin: 0 0 0 auto;
                    }

                    &:last-child {
                        margin: 0 auto 0 0;
                    }

                    &:only-child {
                        width: 50%;
                        margin: 0 auto;
                    }
                }

                .research-projects {
                    float: none;
                    width: 75%;
                }

                > aside, > header {
                    float: none;
                    width: 25%;

                    &:first-child {
                        width: 25%;
                        padding-right: 3rem;
                    }

                    &:last-child {
                        width: 25%;
                        padding-left: 3rem;
                    }
                }

                &.section-slideshow {
                    display: block;
                }
            }
        }
    }

    > footer {
        width: auto;
        margin: $spacing-base auto;
    }

    @media (min-width: $bp-horiz-large) {
        padding: 0 3rem;
    }

    @media (min-width: $bp-horiz-max) {
        padding: 0;
    }

    &.body--home {
        @media (min-width: $bp-horiz-max) {
            margin: 0;
        }
    }

    &.body--profile, &.body--fabrication {
        > header {
            padding-bottom: 2.5rem;
        }
    }

    /*&.body--fabrication {
        max-width: 100%;
        padding: 0 0;

        > main {
            margin: 0 auto;
            padding: 0 $spacing-base;
            //margin-top: 78px;
            max-width: $bp-horiz-max;
        }

        > header {
            position:absolute;
            top: 0;
        }

        @media (min-width: $bp-horiz-large) {
            > main {
                padding: 0 3rem;
            }
        }
    
        @media (min-width: $bp-horiz-max) {
            > main {
                padding: 0 0;
            }
        }
    }*/

}

