@import "bourbon/bourbon";
@import "base/base";

@import "components/design";
@import "components/footer";
@import "components/links";
@import "components/logo";
@import "components/modal";
@import "components/nav";
@import "components/pagination";
@import "components/profile";
@import "components/project";
@import "components/responsive-object";
@import "components/social";
@import "components/streamblocks";

@import "components/slick";

@import "layout";


.link-list {
    @include resetList;
    margin-bottom: $spacing-small;
}

.section-title {
    line-height: 1;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: $spacing-small 0 0 0;
}

.article-title {
    color: $green;
    font-size: 1.5rem;
    font-weight: bold;
}

/*.section-image {
    display: block;
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}*/

.section-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;
    display: block;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -9999px;
        right: -9999px;
        margin: auto;
        max-height: 100%;
        width: auto;
    }

    @media(min-width: $bp-horiz-large) {
        position: static;
        width: 100%;
        padding-bottom: 0;
        overflow: auto;
        
        img {
            position: static;
            width: 100%;
            height: auto;
            max-height: none;
            min-width: 0;
            margin: 0;
        }
    }
}

.tile-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;
    display: block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media(min-width: $bp-horiz-large) {
        position: absolute;
        padding-bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.section-slideshow {
    display: block;
    width: 100%;
}

.slideshow {
    img {
        width: 100%;
        height: auto;
    }
}

.contact-contactinfo {
    @include resetList;
    //font-family: "KievitWeb W07 Bold";
    font-size: 1.25rem;
    font-weight: bold;

    a {
        color: $color-font-base;
    }

    @media(min-width: $bp-horiz-xlarge) {
        columns: auto 2;
    }
}

.contact-signup {
    margin-top: $spacing-base;

    h2 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: $spacing-small;
    }

    @media(min-width: $bp-horiz-large) {
        margin-top: 0;
    }

    @media(min-width: $bp-horiz-xlarge) {
        padding: 0 $spacing-base*2;
    }
}

.fabrication-fabrication-title {
    margin-bottom: 0;
}

.press-awards {
    h3 {
        font-size: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: $spacing-base;
    }

    h2 + h3 {
        padding-top: 0;
    }

    a {
        color: white;

        &:after {
            margin-left: $spacing-small/3;
            font-family: FontAwesome;
            content: "\f14c";
        }
    }
}

.press-publications {
    margin-bottom: $spacing-base * 2;
}




.research-intro {
    color: $color-font-base;
}

.research {
    .project-content {
        border-bottom: 2px solid $green;
        padding-bottom: $spacing-base;
    }
}

.newsitem, .publication {
    padding-top: $spacing-base*2;

    .article-title + & {
        padding-top: $spacing-base;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        color: $green;
        margin-bottom: $spacing-small;
    }
}

.article-title + .newsitem {
    padding-top: 0;
}


.body--home {
    position: relative;
    width: 100%;
    max-width: none;
    height: 100vh;
    margin: 0;
    padding: 0;


    > header {
        position: fixed;
        position: fixed;
        //top: 34px;
        z-index: 999999;
        margin-left: $spacing-base;

        @media (min-width: $bp-horiz-medium) {
            margin-left: 0;
        }
    }

    > .slideshow {
        @include resetList;
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        > li {
            @include transition(all 2s ease-in-out);
            width: 100%;
            height: 100vh;
            position: absolute;
            overflow: hidden;
            opacity: 1;
            visibility: visible;

            .slideshow-caption {
                position: absolute;
                color: white;
                font-weight: bold;
                bottom: 40px;
                left: 0;
                right: 0;
                text-align: center;
            }

            a {
                position: absolute;
                z-index: 98;
                display: block;
                background-color: transparent;
                width: 100%;
                height: 100vh;
            }

            img {
                display: block;
                min-height:100vh;
                min-width:100%;
                height:auto;
                width:auto;
                position:absolute;
                top:-9999px; bottom:-9999px;
                left:-9999px; right:-9999px;
                margin:auto;

                &[data-src] {
                    //opacity: 0;
                }

                &[src] {
                    //opacity: 1;
                }
            }

            &.is-hidden {
                @include transition(all 2s ease-in-out);
                opacity: 0;
                visibility: hidden;

                a {
                    //display: none;
                }
            }
        }
    }

    .nav-toggle {
        span, &::before, &:after {
            background: white;
        }
    }
}


.body--fabrication {
    background-color: $green;

    .article-title {
        color: white;
    }

    .nav-toggle {
        span, &::before, &:after {
            background: white;
        }
    }

    .block-numbered_item_list {
        .block-text_and_title {
            :first-child {
                font-size: 2.5rem;
                &::before {
                    color: white;
                }
                
            }
        }
    }

    .slick-prev, .slick-next {
        background-color: $dark-gray;

        &::before {
            color: $green;
        }
    }

    .footer-social {
        .social-link {
            background: white;
            color: $green;
        }
    }
    
}

.body--press {
    background-color: $dark-gray;
    
    main {
        color: white;
    }

    .article-title {
        color: white;
    }

    .logo-link {
        background-image: url("../../img/fgs_logo_white.png");
    }

    .section-title {
        color: white;
    }

    .footer-social {
        .social-link {
            background: $green;
            color: $dark-gray;
        }
    }

    .footer-contact {
        color: white;

        a {
            color: white;
        }

        li {
            border-color: white;
        }
    }
}

.body--design {

}







