{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--{% endblock %}

{% block content %}
<main>
    <div class="design-projects mosaic">
        <nav class="design-nav mosaic-tile">
            <h1 class="section-title">{{ page.title }} {{ placeholder_count }}</h1>
            <ul>
            {% for category in page.project_categories.all %}
                <li><a data-category="{{ category|cut:' '|cut:'/' }}" 
                        href="{% pageurl page %}?category={{ category }}"
                        {% if search_category == category.name %}class="is-active"{% endif %}>
                    {{ category.name }}</a>
                </li>
            {% endfor %}
                <li>
                    <a data-category="all" 
                        href="{% pageurl page %}"
                        {% if not search_category %}class="is-active"{% endif %}>
                        All Projects
                    </a>
                </li>
            </ul>
        </nav>
        {% for project in projects %}
        {% if project.specific.list_image != None %}
            {% image project.specific.list_image fill-800x552 as img %}
        {% else %}
            {% image project.specific.main_image fill-800x552 as img %}
        {% endif %}
        <a class="project-tile" href="{{ project.specific.url }}">
            data-categories="all  {% for category in project.categories.all %}{{ category|cut:' '|cut:'/' }} {% endfor %}">
            <div class="project-image">
                <img src="url({{ img.url }})" />
            </div>
            <div href="{{ project.specific.url }}" class="project-details">
                <h3 class="project-title">{{ project.specific.title }}</h3>
                {% if project.specific.location %}
                <h4 class="project-subtitle">{{ project.specific.location }}</h4>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
    {% if projects.has_previous or projects.has_next %}
    <ul class="pagination">
      {% if projects.has_previous %}
        <li class="pagination-item"><a class="pagination-link" href="?page={{ projects.previous_page_number }}"><i class="fa fa-angle-left"></i>&#160;Prev</a></li>
      {% endif %}
      {% if projects.paginator.num_pages > 1 %}
      {% for page_num in projects.paginator.page_range %}
        <li class="pagination-item" {% if page_num == projects.number %}class="is-active"{% endif %}><a class="pagination-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}
      {% endif %}
      {% if projects.has_next %}
        <li class="pagination-item"><a class="pagination-link" href="?page={{ projects.next_page_number }}">Next&#160;<i class="fa fa-angle-right"></i></a></li>
      {% endif %}
    </ul>
    {% endif %}
</main>
{% endblock %}
{% block extra_js %}    
    <script>
        $('.js-category-sort').on('click', function(event){

            event.preventDefault();

            var category = $(this).data('category');
            $projects = $('.project-tile');

            $('.js-category-sort').removeClass('is-active');
            $(this).addClass('is-active');
            
            $projects.each(function() {
                var categories = $(this).data('categories');
                $(this).addClass('is-disabled');
                if (categories.indexOf(category) >=0 ) {
                    $(this).removeClass('is-disabled');
                }
            });
        });
    </script>

    <script>
        var $mosaic = $('.mosaic');
        var placeholders = {};
        var placeholder_html = '<section class="project-tile mosaic-tile is-placeholder"></section>';
        placeholders.createPlaceholders = function () {
            // remove existing placeholders
            $('.mosaic-tile.is-placeholder').remove();

            // get screen size and set placeholder count appropriately
            if (breakpoint.value == 'large') {
              placeholders.value = {{ placeholder_count_large }};
            }
            else if (breakpoint.value == 'xlarge' || breakpoint.value == 'max') {
              placeholders.value = {{ placeholder_count_xlarge }};
            } 
            else {
                placeholders.value = 0;
            }

            // create placeholders
            for (i = 0; i < placeholders.value; i++) { 
                $mosaic.append(placeholder_html);
            }
        };

        $(window).resize(function () {
            placeholders.createPlaceholders();
        });
        
        $(document).ready(function() {
            placeholders.createPlaceholders();
        });
    </script>
{% endblock %}