{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--design{% endblock %}

{% block content %}
<main class="project">
    <section class="section-image project-image">
        {% image page.main_image fill-1600x608 %}
    </section>
    <section class="project-content">
        <header>
            <h1 class="article-title">{{ page.title }}</h1>
            <h2>{{ page.location }}</h2>
            <a class="link-back" href="{{ page.get_parent.url }}">Back</a>
        </header>
        <article>
            {{ page.description|richtext }}
        </article>
        <aside class="project-meta">
            {% if page.date %}
            <div class="project-meta-date">
                <h3>{{ page.date|date:"M Y" }}</h3>
            </div>
            {% endif %}
            {% if page.size %}
            <div class="project-meta-size">
                <h3>{{ page.size }}</h3>
            </div>
            {% endif %}
            {% if page.clients.all %}
            <div class="project-meta-clients">
                <h3>Client{{ page.clients.count|pluralize }}:</h3>
                <ul>
                {% for client in page.clients.all %}
                    <li>
                        {% if client.url %}
                            <a href="{{ client.url }}">
                        {% endif %}
                        {{ client.name }}
                        {% if client.url %}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if page.collaborators.all %}
            <div class="project-meta-collaborators">
                <h3>Collaborator{{ page.collaborators.count|pluralize }}:</h3>
                <ul>
                {% for collaborator in page.collaborators.all %}
                    <li>
                        {% if collaborator.url %}
                            <a href="{{ collaborator.url }}">
                        {% endif %}
                        {{ collaborator.name }}
                        {% if collaborator.url %}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %} 
        </aside>
    </section>
    <section class="section-slideshow project-slideshow">
        <div class="slideshow js-slideshow">
        {% for item in page.gallery_images.all %}
            <div>
                {% image item.image fill-1600x608 as img %}
                <img data-lazy="{{ img.url }}" />
            </div>
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}