 {% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--research{% endblock %}

{% block content %}
<main class="research">
    <section>
        <div class="research-projects">
            <h2 class="article-title">Featured Research</h2>
            {% if page.featured_research_projects.all %}
            <div class="research-tiles">
            {% for item in page.featured_research_projects.all %}
                {% if item.research_project.specific.list_image != None %}
                {% image item.research_project.specific.list_image fill-736x800 as img %}
                {% else %}
                    {% image item.research_project.specific.main_image fill-736x800 as img %}
                {% endif %}
                <div class="research-tile">
                     <div class="research-tile-image">
                        <a href="{{ item.research_project.specific.url }}"><img src="{{ img.url }}" /></a>
                    </div>
                    <div class="research-tile-details">
                        <a href="{{ item.research_project.specific.url }}">
                            <h3 class="research-tile-title">{{ item.research_project.specific.title }}</h3>
                            <!--<h4 class="research-tile-subtitle">{{ item.research_project.date }}</h4>-->
                        </a>
                    </div>
                </div> 
            {% endfor %}
            </div>
            {% else %}
            <div class="research-tiles">
            {% for item in projects %}
                {% if item.specific.list_image != None %}
                {% image item.specific.list_image fill-800x736 as img %}
                {% else %}
                    {% image item.specific.main_image fill-800x736 as img %}
                {% endif %}
                <div class="research-tile">
                    <div class="research-tile-image"">
                        <a href="{{ item.specific.url }}"><img src="{{ img.url }}" /></a>
                    </div>
                    <div class="research-tile-details">
                        <a href="{{ item.specific.url }}">
                            <h3 class="research-tile-title">{{ item.specific.title }}</h3>
                            <h4 class="research-tile-subtitle">{{ item.specific.date }}</h4>
                        </a>
                    </div>
                </div> 
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <aside>
        <h2 class="article-title">All Research</h2>
        <ul class="research-list">
            {% for item in projects %}
            <li>
                <span>{{ item.specific.date }}</span>
                <a href="{{ item.specific.url }}">{{ item.specific.title }}</h4></a>
            </li>
            {% endfor %}
        </ul>
        </aside>
    </section>
    
</main>
{% endblock %}
