 {% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
<style>
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-attribution a {
    background: transparent;
    color: #888;
    font-size: 10px;
}
</style>
{% endblock %}

{% block content %}
<main class="contact">
    <section class="section-map" id="js-map">
    </section>
    <section class="content-section">
        <aside><h1 class="section-title">{{ page.title }}</h1></aside>
        <article>
            <ul class="contact-contactinfo">
                <li>
                    {{ settings.home.firminformation.name }}
                </li>
                <li>
                    {{ settings.home.firminformation.address_1 }} {{ settings.home.firminformation.address_2 }}
                </li>
                <li>
                    {{ settings.home.firminformation.city }}, {{ settings.home.firminformation.state }} {{ settings.home.firminformation.zip_code }}
                </li>
                <li>
                    <span>t.</span>
                    {{ settings.home.firminformation.phone }}
                </li>
                <li>
                    <span>f.</span>
                    {{ settings.home.firminformation.fax }}
                </li>
                <li>
                    <a mailto="{{ settings.core.FirmInformation.email }}">
                        {{ settings.home.firminformation.email }}
                    </a>
                </li>
            </ul>
        </article>
        <aside class="contact-signup">
            <h2>Subscribe to our mailing list</h2>
            <!-- Begin MailChimp Signup Form -->
            <form action="{{ settings.contact.mailchimp.subscribe_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1805ba4844b2f9239bd91bd7e_a20848145e" value=""></div>
                <button type="submit" id="mc-embedded-subscribe">Submit</button>
            </form>
            <!--End mc_embed_signup-->
        </aside>
    </section>
    </section>
</main>
{% endblock %}
{% block footer %}
        <footer>
            <ul class="footer-social social">
                {% if settings.home.firminformation.twitter %}
                <li class="social-twitter">
                    <a class="social-link" href="http://www.twitter.com/{{ settings.home.firminformation.twitter }}" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                {% endif %}
                {% if settings.home.firminformation.facebook %}
                <li class="social-facebook">
                    <a class="social-link" href="{{ settings.home.firminformation.facebook }}" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                {% endif %}
                {% if settings.home.firminformation.instagram %}
                <li class="social-instagram">
                    <a class="social-link" href="http://www.instagram.com/{{ settings.home.firminformation.instagram }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </footer>
{% endblock %}
{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
      integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
      crossorigin=""></script>
    <script>
          var map = L.map('js-map', {
            //center: [40.6734578,-74.0121125],
            //center: [40.6895, -74.0168],
            center: [40.6768, -74.0139],
            zoom: 13,
            scrollWheelZoom: true,
            touchZoom: true,
            dragging: true,
            tap: true,
            doubleClickZoom: true,
            boxZoom: true,
            keyboard: true,
            zoomControl: true
          });

          // Prep the background tile layer
          var tileUrl = '{{ settings.home.mapbox.map_tile_url }}' + '?access_token=pk.eyJ1IjoiZnV0dXJlZ3JlZW5zdHVkaW8iLCJhIjoiY2toeGp0YmVvMDQ5cTJ5cXF4MHp6dnlqaSJ9.Z_Fmv7IlNWxysPlBLaJzKg';
          //var tileUrl = 'http://api.tiles.mapbox.com/v3/dmeehan.map-t3op9nm9/{z}/{x}/{y}.png';

          var tileAttribution = 'Data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors, Design &copy; MapBox';

          // Add the tile layer
          var streets = L.tileLayer(tileUrl, {
              attribution: tileAttribution,
              tileSize: 512,
              maxZoom: 18,
              zoomOffset: -1,
              id: 'futuregreenstudio/ckhxiti5f0vjn18mkwdlobiuj',
              accessToken: 'pk.eyJ1IjoiZnV0dXJlZ3JlZW5zdHVkaW8iLCJhIjoiY2toeGp0YmVvMDQ5cTJ5cXF4MHp6dnlqaSJ9.Z_Fmv7IlNWxysPlBLaJzKg'
          }).addTo(map);

          //map.setZoom(12.2, { animate: true} );

          // add a marker in the given location, attach some popup content to it
          L.circleMarker([40.6734578,-74.0121125],  {
            color: '#fffff',
            fillColor: '#3C3F42',
            opacity: 1,
            fillOpacity: 1,
            radius: 8,
            weight: 2
          }).addTo(map)
    </script>
{% endblock %}
