 {% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body--profile{% endblock %}

{% block content %}
<main class="contact">
    <section class="section-image">
        {% image page.image fill-1600x608 %}
    </section>
    <section class="content-section">
        <aside><h1 class="section-title">{{ page.title }}</h1></aside>
        <article>
            <ul class="contact-contactinfo">
                <li>
                    {{ settings.home.firminformation.name }}
                </li>
                <li>
                    {{ settings.home.firminformation.address_1 }} {{ settings.home.firminformation.address_2 }}
                </li>
                <li>
                    {{ settings.home.firminformation.city }}, {{ settings.home.firminformation.state }} {{ settings.home.firminformation.zip_code }}
                </li>
                <li>
                    <span>t.</span>
                    {{ settings.home.firminformation.phone }}
                </li>
                <li>
                    <span>f.</span>
                    {{ settings.home.firminformation.fax }}
                </li>
                <li>
                    <a mailto="{{ settings.core.FirmInformation.email }}">
                        {{ settings.home.firminformation.email }}
                    </a>
                </li>
            </ul>
        </article>
        <aside class="contact-signup">
            <h2>Subscribe to our mailing list</h2>
            <!-- Begin MailChimp Signup Form -->
            <form action="{{ settings.contact.mailchimp.subscribe_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1805ba4844b2f9239bd91bd7e_a20848145e" value=""></div>
                <button type="submit" id="mc-embedded-subscribe">Submit</button>
            </form>
            <!--End mc_embed_signup-->
        </aside>
    </section>
    </section>
</main>
{% endblock %}
{% block footer %}
        <footer>
            <ul class="footer-social social">
                <li class="social-twitter">
                    <a class="social-link" href="http://www.twitter.com/{{ settings.home.firminformation.twitter }}">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="social-facebook">
                    <a class="social-link" href="{{ settings.home.firminformation.facebook }}">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="social-instagram">
                    <a class="social-link" href="http://www.instagram.com/{{ settings.home.firminformation.instagram }}">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </footer>
        {% endblock %}
