$badges: (
  "alert": $color-alert,
  "default": tint($color-primary, 40%),
  "error": $color-error,
  "notice": $color-notice,
  "success": $color-success,
  "active": $color-primary,
) !default;

@each $badge-type, $color in $badges {
  .badge--#{$badge-type} {
    background-color: $color;
    border-radius: $font-size-small * 5;
    color: shade($color, 60%);
    color: white;
    font-family: $font-family-heading;
    font-weight: 700;
    display: inline-block;
    font-size: $font-size-small;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}

.badge--active {
  color: white;
}