.design-projects {

    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

    .project-tile, .design-nav {
        .project-image {
            img {
                display: block;
                width: 100%;
            }
        }

        .project-details{
            .project-title {
                color: black;
                text-transform: uppercase;
                margin: 0 0 0 0;
                font-size: 20px;
                font-weight: 800;
            }

            .project-subtitle {
                color: black;
                text-transform: uppercase;
                margin: 0 0 0 0;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }

    .design-nav {

        > ul {
            @include resetList;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            li {
                flex-grow: 1;
            }
        }

        a {
            color: rgb(0, 0, 0);

            &.is-active {
                color: $green;
                font-family: $font-family-heading;
                &::after {
                    content: " >";
                }
            }
        }
    }


   
}


