.design {
    .design-content {
        @media(min-width: $bp-horiz-medium) {
            display: flex;

            .design-menu {
                width: 25%;
                margin-right: 3rem;
            }
        }
    }

    .design-nav {
        margin-bottom: 44px;
        > ul {
            @include resetList;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            li {
                flex-grow: 1;
            }
        }

        a {
            color: rgb(0, 0, 0);

            &.is-active {
                color: $green;
                font-family: $font-family-heading;
                &::after {
                    content: " >";
                }
            }
        }
    }
}

.design-projects {
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 30px;

    @media(min-width: $bp-horiz-medium) {
        //grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: $bp-horiz-large) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }

    @media(min-width: $bp-horiz-xlarge) {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-tile, .design-nav {
        .project-image {
            img {
                display: block;
                width: 100%;
            }
        }

        .project-details{
            margin-top: 5px;
            .project-title {
                color: black;
                text-transform: uppercase;
                margin: 0 0 0 0;
                line-height: 1.1;
                font-size: 0.875em;

                @media(min-width: $bp-horiz-large) {
                    font-size: $font-size-base;
                }
            }

            .project-subtitle {
                font-family: $font-family-base;
                color: black;
                text-transform: uppercase;
                line-height: 1.1;
                font-size: 0.875em;
                margin: 0 0 0 0;

                @media(min-width: $bp-horiz-large) {
                    font-size: $font-size-base;
                }
            }
        }
    }

    .design-nav {
        margin-bottom: 44px;
        > ul {
            @include resetList;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            li {
                flex-grow: 1;
                margin-bottom: 10px;
            }
        }

        a {
            color: rgb(0, 0, 0);

            &.is-active {
                color: $green;
                font-family: $font-family-heading;
                &::after {
                    content: " >";
                }
            }
        }
    }


   
}


