.footer-contact {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    font-size: 0.75rem;
    padding: 0;
    margin: 0;

    > li {
        line-height: 1.125;
        list-style: none; 
        padding: 0 0.5rem;
        border-right: 1px solid;
        border-color: $dark-gray;
        white-space: nowrap;
        margin-bottom: 0.25rem;

        &:last-child {
            border-right: 0;
        }
    }

    a {
        color: $color-font-base;
    }
}

.footer-social {
    @include display(flex);
    @include justify-content(center);

    padding: $spacing-small 0 0 0;
    margin: 0;

    li {
        list-style: none;
    }
}