.imagelist {
    @include resetList;

    &-item {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        padding-bottom: $spacing-base;

        

        img {
            display: block;
            width: 100%;
            filter: none;
        }

        &:hover {
            img {
                filter: none;
            }
        }

        @media (min-width: $bp-horiz-xlarge) {
            img  {
                filter: grayscale(100%);
            }

            &:hover {
                img {
                    filter: none;
                }
            }
        }

        
    }

    &-content {
        position: absolute;
        top: 0%;
        bottom: 0; 
        left: 0;
        right: 0;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
    }

    &-title {
        display: block;
    }

    &-text {
        display: none;
    }

    &-link {
        display: block;
        color: white;

        &:hover {
            color: white;
        }

        .imagelist-title {
            @include display(flex);
            @include align-items(center);
            font-family: "Kievit OT W01 Book", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight:normal;
            background: rgba(0, 0, 0, 0.3);
            padding: .5rem 1rem;
            
            &::after {
                font-family: FontAwesome;
                content: "\f067";
                padding-left: 0.5rem;
                font-weight:normal;
            }

            @media (min-width: $bp-horiz-xlarge) {
                &::after {
                    display: none;
                }
            }
        }
    }

    @media (min-width: $bp-horiz-medium) {
        @include display(flex);
        @include flex-wrap(wrap);

            .imagelist-item {
                width: 33.333333%;
                padding-bottom: 0;
                

                &:nth-child(1n) {
                    padding-left: 0;
                    padding-right: $spacing-base;
                }
    
                &:nth-child(2n) {
                    padding-right: $spacing-base/2;
                    padding-left: $spacing-base/2;
                }

                &:nth-child(3n){
                    padding-left: $spacing-base;
                    padding-right: 0;
                }
            }
    }
}