.link-back {
    font-family: $font-family-heading;

    &::before {
        content: "<";
        padding-right: 0.25rem;
    }
}

.link-more {
    font-family: $font-family-heading;

    &::after {
        content: ">";
        padding-left: 0.25rem;
    }
}

.link-external, a[target="_blank"]:not(.social-link) {
    &::after {
        font-family: FontAwesome;
        content: "\f08e";
        padding-left: 0.5rem;
        font-size: .75em;
    }
}