.logo {
    //position: fixed;
    //z-index: 9997;
    //top: 32px;
    //left: 32px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
    line-height: 1;
    //margin-bottom: 1rem;
    

    .logo-link {
        @include transition(all 2s ease-in-out);
        display: inline-block;
        width: 168px;
        padding-bottom: 30px;
        height: 0;
        font-size: 0;
        background-image: url("../../img/fgs_logo.png");
        background-size: contain;
        background-repeat: no-repeat;

        > span {
            display: none;
        }
    }

    @media (min-width: $bp-horiz-medium) {
        top: 25px;
        left: 0;
        text-align: center;
        margin-bottom: 0;

        .logo-link {
            width: 210px;
            padding-bottom: 38px;
        }
    }
} 