@include keyframes(sk-rotateplane) {
  0% { 
    @include transform(perspective(120px) rotateX(0deg) rotateY(0deg));
  } 50% { 
    @include transform(perspective(120px) rotateX(-180.1deg) rotateY(0deg));
  } 100% { 
    @include transform(perspective(120px) rotateX(-180deg) rotateY(-179.9deg));
  }
}


.modal {
    @include transition(opacity 0.25s ease-in-out);
    background-color: $green;

    &.is-visible {
        @include transition(all 0.25s ease-in-out);
        opacity: 1;

        .modal-glance {
            @include transition(all 0.25s ease-in-out);
            opacity: 1;
        }
    }

    &.is-hidden {
        display: none;
    }

    &.is-expanded {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        margin: 0;
        background-color: transparent;
        opacity: 1;
        overflow: auto;

        .modal-detail {
            @include transition(all 0.25s ease-in-out);
            opacity: 1;
            width: 95%;
            height: auto;
            background-color: white;
            mix-blend-mode: normal;
        }

        .modal-glance {
            //@include transition(opacity 0.5s ease-in-out);
            //opacity: 0;
            display: none;
        }

        &:hover {
            opacity: 1;
            .modal-glance {
                //opacity: 0;
                display: none;
            }
        }

        + .modal-overlay {
            display: block;
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $green;
            mix-blend-mode: multiply;
        }
    }

    @media(min-width: $bp-horiz-large) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 9;
        background-color: $green;
    }

    @media(min-width: $bp-horiz-large) {
        margin: 1rem;
    }
}

.modal-overlay {
    display: none;
}

.modal-anchor {
    position: relative;

    &.is-released {
        position: static;
    }
}

.modal-glance {
    @include transition(all 0.25s ease-in-out);
    display: block;
    padding: $spacing-small;
    cursor: pointer;
    background-color: $green;
    position: relative;

    .modal-title, .modal-subtitle {
        color: white;
    }

    .modal-open {
        position: absolute;
        bottom: $spacing-small;
        right: $spacing-small;
    }

    a, button {
        color: $dark-gray;
        text-transform: uppercase;
        font-size: 0.875rem;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }

    @media(min-width: $bp-horiz-large) {
        padding: 1rem; 
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .modal-open {
            bottom: 1rem;
            right: 1rem;
        }
    }

    @media(min-width: $bp-horiz-xlarge) {
        padding: $spacing-base; 

        .modal-open {
            bottom: $spacing-base;
            right: $spacing-base;
        }
    }


}

.modal-title, .modal-subtitle {
    color: $green;
    font-family: $font-family-base; 
}

.modal-title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .5rem;

    @media(min-width: $bp-horiz-large) {
        font-size: 1.125rem;
    }
}

.modal-subtitle {
    font-size: 1rem;
    margin-bottom: .5rem;

    @media(min-width: $bp-horiz-large) {
        font-size: 1.125rem;
    }
}

.modal-detail {
    @include display(flex);
    @include flex-direction(column);
    @include transition(all 0.25s ease-in-out);
    //width: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    background-color: white;
    max-height: 95vh;
    overflow-y: auto;


    > header {
        @include flex(none);
        @include display(flex);
        @include align-items(flex-start);

        > div {
            @include flex(1);
        }

        button {
            padding: 0;
            background-color: 0;
            margin: 0;
            color: $color-font-base;
            font-size: 3rem;
        }
    }

    > article {
        @include flex(0 1 auto);
        overflow-y: auto;
    }
}

.modal-slideshow {
    @include display(flex);
    @include align-items(center);
    width: calc(100% - 3rem);
    height: calc(100vh - 3rem);
    background-color: white;
    overflow: hidden;

    .modal-close {
        position: absolute;
        right: 3rem;
        top: 3rem;
    }
    

    @media(min-width: $bp-horiz-large) {
        width: calc(100% - 4rem);
        height: calc(100vh - 4rem);

        .modal-close {
            //right: 4rem;
            //top: 4rem;
        }
    }

    &-carousel {
        @include flex(1);
        @include display(flex);
        @include align-items(center);
        overflow: hidden;

        /*&::before {
            @include transform(translate3d(0, 0, 0));
            @include transform(translate(-50%, -50%));
            @include animation(sk-rotateplane 1.2s infinite ease-in-out);
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            background-color: $light-gray;
            z-index: 1;
        }*/
    }

    &-button {
        outline: none;
        
        span {
            display: none;
        }

        &::before {
            font-family: FontAwesome;
            font-size: 3rem;
        }

        &--next {
            padding: 0 1.5rem 0 3rem;
            &::before {
                content: '\f105';
            }
        }

        &--prev {
            padding: 0 3rem 0 1.5rem;
            &::before {
                content: '\f104';
            }
        }
    }

    &-slide {
        @include flex(none);
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include transition(all 0.125s ease-in-out);
        @include transform(translate3d(0, 0, 0));
        width: 100%;
        height: calc(100vh - 6rem);

        @media(min-width: $bp-horiz-large) {
            height: calc(100vh - 8rem);
        }

        img {
            display: block;
            width: auto;
            height: 100%;
            max-width: 100%;
            object-fit: contain;
        }

        .responsive-object {
            width: 100%;
        }

        &.is-hidden {
            @include transform(translate3d(0, 0, 0));
            @include transition(all 0.125s ease-in-out);
            margin-left: -100%;
        }

    }
}

.modal-trigger {
    outline: none;
    margin: 0;
    padding: 0;
    display: block;
}


.modal-close {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    
    span, &::before, &:after {
        @include transition(all 0.25s ease-in-out);
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background: $dark-gray;
        font-size: 0;
    }

    span {
        display: none;
    }
    
    &::before {
        content: "";
        background: $dark-gray;
        transform: rotate(135deg);
    }

    &::after {
        content: "";
        background: $dark-gray;
        transform: rotate(-135deg);
    }
}

.modal-open {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    
    span, &::before, &:after {
        @include transition(all 0.25s ease-in-out);
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background: $dark-gray;
        font-size: 0;
    }

    span {
        display: none;
    }
    
    &::before {
        content: "";
        background: $dark-gray;
        transform: rotate(0deg);
    }

    &::after {
        content: "";
        background: $dark-gray;
        transform: rotate(90deg);
    }
}