.modal {
    @include transition(opacity 0.25s ease-in-out);
    opacity: 0;
    position: absolute;
    background-color: $green;
    margin: $spacing-small;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.is-visible {
        @include transition(opacity 0.5s ease-in-out);
        opacity: 1;

        .modal-glance {
            @include transition(opacity 0.5s ease-in-out);
            opacity: 1;
        }
    }

    &.is-expanded {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        margin: 0;
        background-color: transparentize($green, 0.3);
        position: fixed;

        .modal-detail {
            @include transition(opacity 3s ease-in-out);
            opacity: 1;
        }

        .modal-glance {
            @include transition(opacity 0.5s ease-in-out);
            opacity: 0;
        }
    }
}

.modal-anchor {
    position: relative;

    &.is-released {
        position: static;
    }
}

.modal-glance {
    @include transition(opacity 0.5s ease-in-out);
    opacity: 0;
    padding: $spacing-base;

    .modal-title, .modal-subtitle {
        color: white;
    }
}

.modal-title, .modal-subtitle {
    color: $green;
    font-family: $font-family-base; 
}

.modal-title {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.modal-subtitle {
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

.modal-detail {
    @include transition(opacity 3s ease-in-out);
    background-color: white;
    opacity: 0;
    width: 60%;
    padding: 2.5rem;

    .rich-text {
        padding-top: $spacing-base;
        columns: auto 2;
        column-gap: 3rem;
    }

    > header {
        @include display(flex);
        @include align-items(flex-start);

        > div {
            @include flex(1);
        }

        button {
            padding: 0;
            background-color: 0;
            margin: 0;
            color: $color-font-base;
            font-size: 3rem;
        }
    }
}

.modal-trigger {
    outline: none;
    margin: 0;
    padding: 0;
    display: block;
}


.modal-close {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    
    span, &::before, &:after {
        @include transition(all 0.5s ease-in-out);
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background: $dark-gray;
        font-size: 0;
    }

    span {
        display: none;
    }
    
    &::before {
        content: "";
        //top: 0;
        background: $dark-gray;
        //top: 9px;
        transform: rotate(135deg);
    }

    &::after {
        content: "";
        //bottom: 0;
        background: $dark-gray;
        //bottom: 9px;
        transform: rotate(-135deg);
    }
}