.mosaic {
    .mosaic-tile {
        position: relative;

        &.is-placeholder {
            background-color: transparent;
        }
    }

    @media(min-width: $bp-horiz-medium) {
        @include display(flex);
        @include flex-wrap(wrap);

        gap: $spacing-small;

        .mosaic-tile {
            width: 50%;
        }
    }

    @media(min-width: $bp-horiz-large) {
        &::after {
            content: 'mosaic-large';
            display: none;
        }

        .mosaic-tile {
            //width: calc(33.33% - #{$spacing-small});
            width: calc(33.33%);
            height: 300px;

            margin-right: 31px;
            margin-bottom: 31px;

            

            &:nth-child(12n+1) {
                width: calc(30% - 31px);
                height: 320px;
            }
            
            &:nth-child(12n+2){
                width: calc(45% - 31px);
                height: 320px;
            }

            &:nth-child(12n+3) {
                width: calc(25%);
                height: 320px;
                margin-right: 0;
            }

            &:nth-child(12n+4) {
                width: calc(25% - 31px);
                height: 360px;
            }

            &:nth-child(12n+5) {
                width: calc(35% - 31px);
                height: 360px;
            }

            &:nth-child(12n+6) {
                width: calc(40%);
                height: 360px;
                margin-right: 0;
            }

            &:nth-child(12n+7) {
                width: calc(35% - 31px);
                height: 300px;
            }

            &:nth-child(12n+8) {
                width: calc(35% - 31px);
                height: 300px;
            }

            &:nth-child(12n+9) {
                width: calc(30%);
                height: 300px;
                margin-right: 0;
            }

            &:nth-child(12n+10) {
                width: calc(20% - 31px);
                height: 340px;
            }

            &:nth-child(12n+11) {
                width: calc(30% - 31px);
                height: 340px;
            }

            &:nth-child(12n) {
                width: calc(50%);
                height: 340px;
                margin-right: 0;
            }
        }

        
    }

    @media(min-width: $bp-horiz-xlarge) {
        @include display(flex);

        &::after {
            content: 'mosaic-xlarge';
            display: none;
        }
        
        .mosaic-tile {
            width: calc(25% - 40px);
            height: 300px;

            margin-right: 40px;
            margin-bottom: 40px;

            &:nth-child(odd) {
                margin-right: 40px;
            }

            &:nth-child(even) {
                margin-left: 0;
            }

            &:nth-child(12n+1) {
                width: calc(20% - 40px);
                height: 320px;
                margin-right: 40px;
            }
            
            &:nth-child(12n+2) {
                width: calc(25% - 40px);
                height: 320px;
                margin-right: 40px;
            }

            &:nth-child(12n+3) {
                width: calc(30% - 40px);
                height: 320px;
                margin-right: 40px;
            }

            &:nth-child(12n+4) {
                width: calc(25%);
                height: 320px;
                margin-right: 0;
            }

            &:nth-child(12n+5) {
                width: calc(25% - 40px);
                height: 360px;
                margin-right: 40px;
            }

            &:nth-child(12n+6) {
                width: calc(35% - 40px);
                height: 360px;
                margin-right: 40px;
            }

            &:nth-child(12n+7) {
                width: calc(20% - 40px);
                height: 360px;
                margin-right: 40px;
            }

            &:nth-child(12n+8) {
                width: calc(20%);
                height: 360px;
                margin-right: 0;
            }

            &:nth-child(12n+9) {
                width: calc(20% - 40px);
                height: 300px;
                margin-right: 40px;
            }

            &:nth-child(12n+10) {
                width: calc(30% - 40px);
                height: 300px;
                margin-right: 40px;
            }

            &:nth-child(12n+11) {
                width: calc(30% - 40px);
                height: 300px;
                margin-right: 40px;
            }

            &:nth-child(12n) {
                width: calc(20%);
                height: 300px;
                margin-right: 0;
            }
        }
        
    }
}