.mosaic {
    .mosaic-tile {
        position: relative;

        &.is-placeholder {
            background-color: transparent;
        }
    }

    @media(min-width: $bp-horiz-medium) {
        @include display(flex);
        @include flex-wrap(wrap);

        .mosaic-tile {
            gap: $spacing-small;
        }
    }

    /*@media(min-width: $bp-horiz-large) {
        
    }

    @media(min-width: $bp-horiz-xlarge) {
        
    }*/
}