.mosaic {
    .mosaic-tile {
        position: relative;

        &.is-placeholder {
            background-color: transparent;
        }
    }

    @media(min-width: $bp-horiz-medium) {
        @include display(flex);
        @include flex-wrap(wrap);

        gap: $spacing-small;

        .mosaic-tile {
            width: 50%;
        }
    }

    @media(min-width: $bp-horiz-large) {
        &::after {
            content: 'mosaic-large';
            display: none;
        }

        .mosaic-tile {
            //width: calc(33.33% - #{$spacing-small});
            width: calc(33.33%);
            height: 300px;

            margin-right: 31px;
            margin-bottom: 31px;
        }

        
    }

    @media(min-width: $bp-horiz-xlarge) {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
        grid-auto-rows: 100px; /* Adjust the height of each row as needed */
        gap: 40px; /* Adjust the gap between grid items */

        &::after {
            content: 'mosaic-xlarge';
            display: none;
        }
        
        .mosaic-tile {
            //width: calc(25% - 40px);
            //height: 300px;

            //margin-right: 40px;
            //margin-bottom: 40px;
        }
        
    }
}