

.news-grid {
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 30px;

    @media(min-width: $bp-horiz-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    /*@media(min-width: $bp-horiz-large) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }*/

    @media(min-width: $bp-horiz-xlarge) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }
    
    padding-top: $spacing-base;
}


.news-tile {
    position: relative;
    width: 100%;
    margin-bottom: $spacing-base;

    .modal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        opacity: 1;
        margin: 1rem;
        background-color: transparentize(white, 0.1);


        .modal-glance {
            opacity: 1;
            padding: 1rem; 
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    img {
        position: relative;
        z-index: 0;
        display: block;
        width: 100%;
    }

    &:hover, &.no-image {
        .modal {
            opacity: 1;

            .modal-glance {
                opacity: 1;
            }
        }
    }

    &.no-image {
        background-color: white;
    }

    /*@media(min-width: 700px) {
        width: calc(50% - 20px);
        position: relative;
        margin-bottom: 40px;

        &:nth-child(odd) {
            margin-right: 20px;
        }

        &:nth-child(even) {
            margin-left: 20px;
        }
    }*/

    @media(min-width: $bp-horiz-large) {
        .modal {
            opacity: 0;
            background-color: white;

            .modal-glance {
                opacity: 0;
            }
        }

    }

    .news-tile-date {
        color: black;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: $font-family-base;
        margin-bottom: 0;
        padding-bottom: .5rem;
    }

    .news-tile-title {
        color: black;
        text-transform: none;
        font-size: 1.625rem;
    }

    .news-tile-publication {
        font-size: 1.625rem;
        color: black;
        text-transform: none;
        font-family: $font-family-base;
    }
}


.news-recent, .news-monthly {
    padding-top: 1rem;

    /*h3 {
        color: $green;
        font-size: 1rem;
        margin-bottom: 0;
        padding-bottom: .5rem;
    }*/

    /*a {
        color: white;

        &:hover {
            color: $green;
        }
    }*/
}

.news-recent {
    .link-list {
        > li {
            padding-bottom: 1rem;
        }
    }
}

.news-item-placeholder {

}
