.profile-image {
    display: block;
    position: static;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    
    img {
        position: static;
        width: 100%;
        height: auto;
        max-height: none;
        min-width: 0;
        margin: 0;
    }

    @media (min-width: $bp-horiz-large) {
        margin-bottom: $spacing-base*2;
    }

    /*@media (min-width: $bp-horiz-xlarge) {
        margin-bottom: $spacing-base*2;
    }*/
}

.profile-clients, .profile-collaborators {
    margin-bottom: 3rem;

    ul {
        @include resetList;
        columns: auto 2;
        column-gap: 2.5rem;

        @media(min-width: $bp-horiz-xlarge) {
            columns: auto 3;
        }
    }
}

.profile-colleagues {
    > article {
        width: auto;
        margin: 0 0 0 0;
    }
}

.profile-employees {
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 30px;

    @media(min-width: $bp-horiz-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: $bp-horiz-large) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }

    @media(min-width: $bp-horiz-xlarge) {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }

    .profile-employee {
        cursor: pointer;
        .profile-employee-image {
            img {
                display: block;
                width: 100%;
            }
        }

        .modal {
            display: none;
        }

        .profile-employee-glance {
            
            margin-top: 5px;
            
            .profile-employee-title {
                color: black;
                text-transform: uppercase;
                margin: 0 0 0 0;
                line-height: 1.1;
                font-size: 1em;
            }

            .profile-employee-subtitle {
                font-family: $font-family-base;
                color: black;
                text-transform: uppercase;
                line-height: 1.1;
                font-size: 0.875em;
                margin: 0 0 0 0;
            }
        }
    }
}

.profile-employee {
    position: relative;
    //height: 300px;
    margin-bottom: $spacing-base;

    img {
        display: block;
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.profile-employee-detail {
    > header {
        padding: 2.5rem 2.5rem 0 2.5rem;
        margin-bottom: $spacing-small;
    }

    > article {
        padding: 0 2.5rem 0 2.5rem;
        margin-bottom: 2.5rem;

        .rich-text {
            padding-top: 0;

            @media(min-width: $bp-horiz-medium) {
                columns: auto 2;
                column-gap: 3rem;
            }
        }
    }
}




