.project-tile {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:hover {
        .modal {
            display: block;
            opacity: 1;

            .modal-glance {
                display: block;
                opacity: 1;
            }
        }
    }

    .modal-glance {
        /*@media(min-width: $bp-horiz-xlarge) {
            padding: 40px;
        }*/
    }

    .modal-title {
        //font-family: $font-family-heading;
        //font-size: 1.25rem;
    }

    .modal-subtitle {
        //font-size: 1.125rem;
    }

    &.is-disabled {
        opacity: 0.3;

        &:hover {
            .modal {
                display: none;
            }
        }

    }

    &.is-empty {
        background-color: $green;
    }
    

}

.project-content {

    > header {
        @include display(flex);
        @include flex-direction(column);

        h1 {
            order: 1;
            color: $green;
        }

        h2 {
            order: 1;
            font-size: 1rem;
            font-family: $font-family-base;
            color: $green;
            text-transform: uppercase;
        }

        .link-back {
            order: 0;
            margin-bottom: $spacing-small;
        }

        .project-subtitle {
            order: 1;
        }

        @media(min-width: $bp-horiz-xlarge) {
            .link-back {
                order: 1;
                margin-top: auto;
                margin-bottom: 0;
            }

            h1 {
                order: 0;
            }

            h2 {
                order: 0;
            }

            .project-subtitle {
                order: 0;
            }
        }

    }

    > article {
        margin-bottom: $spacing-base;
        .rich-text {
            p {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        @media(min-width: $bp-horiz-medium) {
            .rich-text {
                columns: auto 2;
                column-gap: 2.5rem;
            }
        }

        @media(min-width: $bp-horiz-xlarge) {
            margin-bottom: 0;
            //padding: 0 3rem;

            .rich-text {
                columns: auto 1;
            }
        }

        @media(min-width: 1440px) {
            .rich-text {
                columns: auto 2;
                column-gap: 2.5rem;
            }
        }
    }
}

.project-subtitle {
    .block-heading {
        padding-bottom: $spacing-small;
    }

    .block-subheading {
        font-size: .875rem;
        color: $green;
        margin-bottom: 0;
        padding-bottom: 0;

        &:last-child {
            padding-bottom: $spacing-base;
        }

        + .block-text {
            padding-top: $spacing-base;
        }
    }
}

.project-meta {
    @include display(flex);
    @include flex-direction(column);

    ul, p {
        @include resetList;
        font-size: 0.875rem;
    }

    .project-links {
        font-size: 1rem;
        font-family: $font-family-heading;
    }

    h3 {
        font-size: 0.875rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &-size, &-clients, &-date, &-additional {
        margin-bottom: $spacing-base;
    }

    &-date {
        //margin-bottom: 0;
    }

    &-additional {
        .block-subheading {
            font-family: $font-family-heading;
            font-size: 0.875rem;
            margin-bottom: 0;
            padding-bottom: 0;
            text-transform: uppercase;
        }
    }

    .project-meta-collaborators {
        padding-bottom: $spacing-base;
    }

    .project-meta-links {
        margin-top: auto;

        .social {
            margin-top: $spacing-small/2;
            li {
                padding-right: $spacing-small/2;
            }
        }
    }

    :last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.project-videos {
    padding-top: $spacing-base;
    
    @media(min-width: $bp-horiz-large) {
        width: 75%;
        margin-right: auto;
        margin-left: 0;
        
    }

    @media(min-width: $bp-horiz-xlarge) {
        margin-left: auto;
        margin-right: 0;
        padding-top: 30px;
    }

    @media(min-width: 1366px) {
        padding-top: 33px;
    }
    

    @media(min-width: $bp-horiz-max) {
        padding-top: 40px;
    }
}


.project-mosaic {
    .project-mosaic-tile {
        position: relative;
        margin-bottom: $spacing-base;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    @media(min-width: $bp-horiz-medium) {
        @include display(flex);
        @include flex-wrap(wrap);
    }

    @media(min-width: $bp-horiz-medium) {

        .project-mosaic-tile {
            width: calc(50% - #{$spacing-small});

            &:nth-child(odd) {
                margin-right: $spacing-small;
            }

            &:nth-child(even) {
                margin-left: $spacing-small;
            }
        }
    }


    @media(min-width: $bp-horiz-large) {
        .project-mosaic-tile {
            width: calc(50% - 20px);
            margin-bottom: 40px;

            &:nth-child(odd) {
                margin-right: 20px;
            }

            &:nth-child(even) {
                margin-left: 20px;
            }
        }

        @supports (display: grid) {
            $grid-items: 12;
            $grid-column-first: 1;
            $grid-column-last: 29;
            $grid-row-first: 1;
            $grid-row-last: 42;

            display: grid;
            //grid-template-columns: repeat(29, 3.44%);
            //grid-template-rows: 40px;
            //grid-auto-columns: 2.5%;
            //grid-auto-rows: 40px;

            grid-template-columns: repeat(29, 3.44%);
            grid-template-rows: 33px;
            grid-auto-columns: 3.44%;
            grid-auto-rows: 33px;

            @media(min-width: $bp-horiz-xlarge) {
                grid-template-rows: 30px;
                grid-auto-rows: 30px;
            }

            @media(min-width: 1366px) {
                grid-template-rows: 33px;
                grid-auto-rows: 33px;
            }

            @media(min-width: $bp-horiz-max) {
                grid-template-rows: 40px;
                grid-auto-rows: 40px;
            }

            .project-mosaic-tile {
                display: block;
                position: relative;
                width: auto;
                height: auto;
                //padding-bottom: 0;
                margin-bottom: 0;
                margin: 0;
                //padding: 0;

                &:nth-child(odd) {
                    margin-right: 0;
                }

                &:nth-child(even) {
                    margin-left: 0;
                }

                &:nth-child(8n+1) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    margin-left: 0;
                    grid-column-start: 1;
                    grid-column-end: span 9;
                    grid-row-start: 1;
                    grid-row-end: span 6;
                }

                &:nth-child(8n+2) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    grid-column-start: 11;
                    grid-column-end: span 9;
                    grid-row-start: 1;
                    grid-row-end: span 6;
                }

                &:nth-child(8n+3) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    grid-column-start: 21;
                    grid-column-end: span 9;
                    grid-row-start: 1;
                    grid-row-end: span 13;
                }

                &:nth-child(8n+4) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    grid-column-start: 1;
                    grid-column-end: span 19;
                    grid-row-start: 8;
                    grid-row-end: span 13;
                }

                &:nth-child(8n+5) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    grid-column-start: 21;
                    grid-column-end: span 9;
                    grid-row-start: 15;
                    grid-row-end: span 13;
                }

                &:nth-child(8n+6) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    margin-left: 0;
                    grid-column-start: 1;
                    grid-column-end: span 9;
                    grid-row-start: 22;
                    grid-row-end: span 6;
                }

                &:nth-child(8n+7) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    grid-column-start: 11;
                    grid-column-end: span 9;
                    grid-row-start: 22;
                    grid-row-end: span 6;
                }

                &:nth-child(8n) {
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    grid-column-start: 1;
                    grid-column-end: span 29;
                    grid-row-start: 29;
                    grid-row-end: span 15;
                }

            }
        }
    }

    @media(min-width: $bp-horiz-xlarge) {
        width: 75%;
        margin-left: auto;
        margin-right: 0;
    }

    .project-mosaic-tile-image {
        position: relative;
        overflow: hidden;
        padding-bottom: 56%;
        display: block;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @supports (display: grid) {
            @media(min-width: $bp-horiz-large) {
                position: absolute;
                padding-bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}