.project {
    position: relative;
    //@include display(flex);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:hover {
        .modal {
            display: block;
            opacity: 1;

            .modal-glance {
                display: block;
                opacity: 1;
            }
        }
    }

    .modal-glance {
        padding: 40px;
    }

    .modal-title {
        font-family: $font-family-heading;
        font-size: 1.25rem;
    }

    .modal-subtitle {
        font-size: 1.125rem;
    }

    &.is-disabled {
        opacity: 0.3;

        &:hover {
            .modal {
                display: none;
            }
        }

    }

    &.is-empty {
        background-color: $green;
    }
    

}

.project-content {
    > header {
        @include display(flex);
        @include flex-direction(column);

        h1 {
            color: $green;
        }

        h2 {
            font-size: 1rem;
            font-family: $font-family-base;
            color: $green;
            text-transform: uppercase;
        }

        .link-back {
            margin-top: auto;
        }
    }

    > article {
        .rich-text {
            columns: auto 2;
            column-gap: 2.5rem;
            p {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        
    }
}

.project-meta {
    ul, p {
        @include resetList;
        font-size: 0.875rem;
    }

    h3 {
        font-size: 0.875rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &-size, &-clients {
        margin-bottom: $spacing-base;
    }

    &-date {
        margin-bottom: 0;
    }
}