.block-image, .block-captioned_image {
    img, picture {
        display: block;
        width: 100%;
        height: auto; 
    } 

    margin: 0;
    padding: 0;
}

.block-image {
    padding-bottom: $spacing-base;
}

.block-captioned_image {
    &::after {
        content: '';
        padding-bottom: $spacing-base;
    }
}

.block-image_gallery {
    > ul {
        @include resetList;
    }

    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;
}

.block-video {
    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;
}

.block-heading, .block-subheading {
    letter-spacing: 0.0625rem;
    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;
}

.block-heading {
    font-family: $font-family-heading;
    font-size: 1.25rem;
    font-weight: bold;
    color: $green;
}

.block-subheading {
    font-family: $font-family-base;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
}

.block-paragraph, .block-text {
    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;

    h3 {
        font-size: 1em;
    }

    h4 {
        font-family: $font-family-base;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: normal;
    }

    :last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.block-item_list, .block-numbered_item_list {
    > ul {
        @include resetList;

        > li {
            
            padding-bottom: $spacing-base*2;
        }
    }

    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;

    :last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    @media(min-width: $bp-horiz-medium) {
        > ul {
            @include display(flex);
            @include flex-wrap(wrap);

            > li {
                //@include flex(0 1 50%);
                width: 50%;

                &:nth-child(odd) {
                    padding-right: 1.75rem;
                }

                &:nth-child(even) {
                    padding-left: 1.75rem;
                }
            }
        }
    }
}

.block-numbered_item_list {
    counter-reset: list-counter;
    .block-text_and_title {
        :first-child {
            &::before {
                content: counter(list-counter)'.';
                counter-increment: list-counter;
                padding-right: 0.25em;
            }
            
        }
    }

    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;

    :last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.block-pullquote {
    blockquote {
        padding: $spacing-small 0;
        margin: 0;
        font-size: 1.5rem;
        font-family: $font-family-heading;
        color: $green;
        font-style: normal;

        &::before {
            content: "\201C";
        }

        &::after {
            content: "\201D";
        }
    }

    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}


.block-project {
    margin-bottom: $spacing-base;
    font-size: 0.875rem;

    h5 {
        margin-bottom: $spacing-small/2;
    }

    .block-project-image {
        @include flex(none);
        //width: 50%;
        //max-width: 200px;
        padding-bottom: 1rem;
    }

    img {
        width: 100%;
    }

    p {
        margin: 0;
        padding-bottom: $spacing-small;

        &:last-child {
            padding-bottom: 0;
        }
    }

    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base;

    :last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    @media (min-width: $bp-horiz-medium) {
        @include display(flex);
        .block-project-image {
            width: 200px;
            padding-right: 1rem;
        }
    }
}


